<div class="container mt-2">
  <div class="row">
    <div class="col-8">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-3">
          <label i18n="@@App" class="fs-20 fw-600 ml-3 text-color">Application</label>
        </div>
        <div class="col-3">
          <ng-select
            [(ngModel)]="selectedData.apps"
            class="dropdown"
            id="app"
            placeholder="--Select App--"
            i18n-placeholder="@@placedholderApp"
          >
            <ng-option [value]="app" *ngFor="let app of appsList">{{
              app
            }}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-8">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-3">
          <label i18n="@@days" class="fs-20 fw-600 ml-3 text-color">Days</label>
        </div>
        <div class="col-3">
          <input
            [(ngModel)]="selectedData.days"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null"
            type="number"
            class="dropdown custom-input"
            id="days"
            placeholder="--Days--"
            i18n-placeholder="@@placedholderDays"
            min="1"
            style="width: 6rem"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-8">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-3">
          <label i18n="@@Unusual" class="fs-20 fw-600 ml-3 text-color">Unusual &#37;</label>
        </div>
        <div class="col-3">
          <div class="d-flex align-items-center">
            <input
            min="1"
            max="100"
            type="range"
            [(ngModel)]="selectedData.ipPercentage"
            name="ipPercentage"
          />
          &nbsp;<span>{{selectedData.ipPercentage}}&#37; </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button
      type="button"
      class="btn-link fs-20 fw-600 pointer"
      (click)="resetHandler()"
      i18n="@@Reset"
    >
      Reset
    </button>
    <button
      type="button"
      class="btn-link fs-20 fw-600 mx-4 pointer"
      (click)="getUnusualIPs()"
      i18n="@@Submit"
    >
      Submit
    </button>
  </div>

  <div class="card" *ngIf="unusualIPs != undefined && unusualIPs.length > 0">
    <div class="card-body">
      <ul>
        <li *ngFor="let ip of unusualIPs">{{ ip }}</li>
      </ul>
    </div>
  </div>
</div>
