<nav class="navbar navbar-light top-menu sticky-top">
  <div class="container-fluid p-2">
    <div class="d-flex align-items-center pointer" routerLink="/">
      <div class="mb-0 me-2">
        <img alt="Remiges Business Icon" src="assets/img/logharbour_white.png" style="width: 200px; height: 3rem" />
      </div>
      <!-- <span class="h2 mb-0 text-light">LogHarbour</span> -->
    </div>
    <div class="d-flex align-items-center ms-auto d-none d-lg-flex d-xl-flex d-md-flex">
      <a routerLink="/" class="text-light me-3 fs-20 fw-600" i18n="@@DataChangeLog" type="click">Data Change Log</a>
      <a routerLink="/showactivity-log" class="text-light me-3 fs-20 fw-600" i18n="@@ActivityChangeLog" type="click">Activity Log</a>
      <a routerLink="/highpri-log" class="text-light me-3 fs-20 fw-600" i18n="@@HighpriLog" type="click">Highpri Log</a>
      <a routerLink="/debug-log" class="text-light me-3 fs-20 fw-600" i18n="@@DebugLog" type="click">Debug Log</a>
      <a routerLink="/unusual-ip" class="text-light me-3 fs-20 fw-600" i18n="@@UnusualIPLog" type="click">Unusual IP</a>
      <div class="mx-3">
        <button class="btn" id="themeBtn" (click)="changeTheme()">
          <i *ngIf="isDarkTheme" class="fa-regular fa-sun"></i>
          <i *ngIf="!isDarkTheme" class="fa-solid fa-moon"></i>
        </button>
      </div>
      <div class="gradient-box">
        <select class="form-select language-select" [(ngModel)]="selectedLocale"
          (change)="navigateToLocale(selectedLocale)">
          <option *ngFor="let locale of locales" [value]="locale.localeCode">{{ locale.label }}</option>
        </select>
      </div>
    </div>
    <button class="btn d-xl-none d-md-none d-lg-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas" aria-controls="offcanvas">
      <i class="fas fa-bars text-white"></i>
    </button>
  </div>
</nav>
<!-- Offcanvas menu -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <div class="offcanvas-title" id="offcanvasLabel">
      <img alt="Remiges Business Icon" src="assets/img/logo.svg" />
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Placed theme and language dropdowns here -->
    <div class="mx-3">
      <button class="btn" id="themeBtn" (click)="changeTheme()">
        <i *ngIf="isDarkTheme" class="fa-regular fa-sun"></i>
        <i *ngIf="!isDarkTheme" class="fa-solid fa-moon"></i>
      </button>
    </div>
    <div class="gradient-box">
      <select class="form-select language-select" [(ngModel)]="selectedLocale"
        (change)="navigateToLocale(selectedLocale)">
        <option *ngFor="let locale of locales" [value]="locale.localeCode">{{ locale.label }}</option>
      </select>
    </div>
    <div class="mt-2">
      <button type="button" [routerLink]="['/']" i18n="@@DataChangeLog" class="btn btn-light">
        Data Change Log
      </button>
    </div>
    <div class="mt-2">
      <button type="button" [routerLink]="['/showactivity-log']" i18n="@@ActivityChangeLog" class="btn btn-light">
        Activity Log
      </button>
    </div>
    <div class="mt-2">
      <button type="button" [routerLink]="['/highpri-log']" i18n="@@HighpriLog" class="btn btn-light">
        Highpri Log
      </button>
    </div>
    <div class="mt-2">
      <button type="button" [routerLink]="['/debug-log']" i18n="@@DebugLog" class="btn btn-light">
        Debug Log
      </button>
    </div>
    <div class="mt-2">
      <button type="button" [routerLink]="['/unusual-ip']" i18n="@@UnusualIPLog" class="btn btn-light">
        Unusual IP
      </button>
    </div>
  </div>
</div>