.green-icon {
    color: green;
  }

.line {
    width: 100%; 
    text-align: left; 
    border-bottom: 2px solid #e4e4e4; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .line span { 
     background:#fff; 
     padding:0 10px; 
 }
  