<div class="container mt-2">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@App">Application</span> <span class="red-astrik">&#42;</span></label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" i18n-placeholder="@@placedholderApp" [(ngModel)]="selectedData.apps" id="app" (change)="appChangeHandler()" placeholder="--Select App--">
                        <ng-option [value]="app" *ngFor="let app of appsList">{{app}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-group">
        <div class="row mt-2 className" *ngIf="selectedData.apps != undefined">
            <div class="col-8">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-3">
                        <label i18n="@@class" class="fs-20 fw-600 ml-3 text-color">Class</label>
                    </div>
                    <div class="col-5 ml-3">
                        <ng-select [(ngModel)]="selectedData.class" i18n-placeholder="@@placeholderClass" (change)="classChangeHandler()" class="dropdown" id="class" placeholder="--Select Class--">
                            <ng-option [value]="class" *ngFor="let class of classList">{{class}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 entity" *ngIf="selectedData.class != undefined">
            <div class="col-8">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-3">
                        <label i18n="@@entityID" class="fs-20 fw-600 ml-3 text-color">Entity ID</label>
                    </div>
                    <div class="col-3">
                        <ng-select [(ngModel)]="selectedData.entityId" i18n-placedholder="@@placeholderEntityID" class="dropdown" id="entity" placeholder="--Select Entity ID--">
                            <ng-option [value]="entityId" *ngFor="let entityId of entityIdList">{{entityId}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@days">Days</span> <span class="red-astrik">&#42;</span></label>
                </div>
                <div class="col-3">
                    <input type="number" i18n-placeholder="@@placedholderDays" [(ngModel)]="selectedData.days" oninput="this.value = !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null" class="dropdown custom-input" id="days" placeholder="--Days--" min="1" style="width: 6rem;">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2"  *ngIf="selectedData.apps != undefined">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label i18n="@@user" class="fs-20 fw-600 ml-3 text-color">User</label>
                </div>
                <div class="col-3">
                    <ng-select [(ngModel)]="selectedData.users" i18n-placeholder="@@placeholderUser" class="dropdown" id="user" placeholder="--Select User--">
                        <ng-option [value]="user" *ngFor="let user of usersList">{{user}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="button" class="btn-link fs-20 fw-600 pointer" (click)="resetHandler()" i18n="@@Reset">Reset</button>
        <button type="button" class="btn-link  fs-20 fw-600 mx-4 pointer" (click)="getActivityLogs()" i18n="@@Submit">Submit</button>
    </div>
    <app-pagination #pagination [data]="activityLogs" [collectionSize]="dataCount" (timeStamp)="getActivityLogs(true,$event)">
        <app-log-entry [data]="activityLogs" [currentPage]="pagination.currentPage" [itemPerPage]="pagination.itemPerPage"></app-log-entry>
    </app-pagination>

</div>