<div class="container mt-2">
  <div class="row">
    <div class="col-8">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-3">
          <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@App">Application</span> <span
              class="red-astrik">&#42;</span></label>
        </div>
        <div class="col-3">
          <ng-select [(ngModel)]="selectedData.apps" (change)="appChangeHandler()" class="dropdown" id="app"
            placeholder="--Select App--" i18n-placeholder="@@placedholderApp">
            <ng-option [value]="app" *ngFor="let app of lists.apps">{{
              app
              }}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden-group">
    <div class="row mt-2 className" *ngIf="selectedData.apps != undefined">
      <div class="col-8">
        <div class="d-flex flex-column flex-md-row">
          <div class="col-3">
            <label i18n="@@class" class="fs-20 fw-600 ml-3 text-color">Class</label>
          </div>
          <div class="col-5 ml-3">
            <ng-select (change)="classChangeHandler()" [(ngModel)]="selectedData.class" class="dropdown" id="class"
              placeholder="--Select Class--" i18n-placeholder="@@placeholderClass">
              <ng-option [value]="class" *ngFor="let class of lists.class">{{
                class
                }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 entity" *ngIf="selectedData.class != undefined">
      <div class="col-8">
        <div class="d-flex flex-column flex-md-row">
          <div class="col-3">
            <label i18n="@@entityID" class="fs-20 fw-600 ml-3 text-color">Entity ID</label>
          </div>
          <div class="col-3">
            <ng-select (change)="entityChangeHandler()" [(ngModel)]="selectedData.entityId" class="dropdown" id="entity"
              placeholder="--Select Entity ID--" i18n-placedholder="@@placeholderEntityID">
              <ng-option [value]="entityId" *ngFor="let entityId of lists.instance">{{ entityId }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 field" *ngIf="selectedData.entityId != undefined">
      <div class="col-8">
        <div class="d-flex flex-column flex-md-row">
          <div class="col-3">
            <label i18n="@@field" class="fs-20 fw-600 ml-3 text-color">Field</label>
          </div>
          <div class="col-3">
            <ng-select [(ngModel)]="selectedData.fields" class="dropdown" id="field" placeholder="--Select Field--"
              i18n-placeholder="@@placeholderField">
              <ng-option [value]="field" *ngFor="let field of lists.field">{{
                field
                }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-8">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-3">
          <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@days">Days</span> <span
              class="red-astrik">&#42;</span></label>
        </div>
        <div class="col-3">
          <input [(ngModel)]="selectedData.days"
            oninput="this.value = !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null" type="number"
            class="dropdown custom-input" id="days" placeholder="--Days--" i18n-placeholder="@@placedholderDays" min="1"
            style="width: 6rem" />
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="selectedData.apps != undefined">
    <div class="col-8">
      <div class="d-flex flex-column flex-md-row">
        <div class="col-3">
          <label i18n="@@user" class="fs-20 fw-600 ml-3 text-color">User</label>
        </div>
        <div class="col-3">
          <ng-select [(ngModel)]="selectedData.users" class="dropdown" id="user" placeholder="--Select User--"
            i18n-placeholder="@@placeholderUser">
            <ng-option [value]="user" *ngFor="let user of lists.who">{{
              user
              }}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button type="button" i18n="@@Reset" class="btn-link fs-20 fw-600 pointer" (click)="resetHandler()">
      Reset
    </button>
    <button type="button" i18n="@@Submit" class="btn-link fs-20 fw-600 mx-4 pointer" (click)="getDataChangeLogs()">
      Submit
    </button>
  </div>
  <app-pagination #pagination [data]="dataChangeLogs.data" [collectionSize]="dataChangeLogs.dataCount"
    (timeStamp)="getDataChangeLogs(true,$event)">
    <app-log-entry [data]="dataChangeLogs.data" [itemPerPage]="pagination.itemPerPage"
      [currentPage]="pagination.currentPage"></app-log-entry>
  </app-pagination>
</div>