<div class="container mt-2">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Application</label>
                </div>
                <div class="col-3">
                    <ng-select [(ngModel)]="selectedData.apps" class="dropdown" id="app" placeholder="--Select App--">
                        <ng-option [value]="app" *ngFor="let app of appsList">{{app}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-group" *ngIf="selectedData.apps != undefined">
        <div class="row mt-2 className">
            <div class="col-8">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-3">
                        <label class="fs-20 fw-600 ml-3 text-color">Class</label>
                    </div>
                    <div class="col-5 ml-3">
                        <ng-select class="dropdown" id="class" placeholder="--Select Class--">
                            <ng-option [value]="class" *ngFor="let class of classList">{{class}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 entity">
            <div class="col-8">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-3">
                        <label class="fs-20 fw-600 ml-3 text-color">Entity ID</label>
                    </div>
                    <div class="col-3">
                        <ng-select class="dropdown" id="entity" placeholder="--Select Entity ID--">
                            <ng-option></ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 field">
            <div class="col-8">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-3">
                        <label class="fs-20 fw-600 ml-3 text-color">Field</label>
                    </div>
                    <div class="col-3">
                        <ng-select class="dropdown" id="field" placeholder="--Select Field--">
                            <ng-option></ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Days</label>
                </div>
                <div class="col-3">
                    <input type="number" class="dropdown custom-input" id="days" placeholder="--Days--" min="1">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">User</label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" id="user" placeholder="--Select User--">
                        <ng-option [value]="user" *ngFor="let user of usersList">{{user}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-group">
        <button type="button" class="btn btn-secondary">Reset</button>
<button type="button" class="btn btn-primary mx-2">Submit</button>
    </div>

    <div class="card my-3" *ngFor="let log of data">
        <div class="card-body">
            <div class="card no-border m-2" *ngFor="let dataChangeLog of log.data.changes">
                <div class="card-title">
                    <h2 class="p-2"><strong>{{dataChangeLog.field}}</strong></h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6"><strong>Old_Value :</strong> {{dataChangeLog.old_value}}</div>
                        <div class="col-6"><strong>Timestamp :</strong> {{log.when | date:'MMM d, y, h:mm:ss a'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-6"><strong>New_Value :</strong> {{dataChangeLog.new_value}}</div>
                        <div class="col-6"><strong>Timestamp :</strong> {{log.when |date:'MMM d, y, h:mm:ss a'}}</div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>