<div class="container mt-2">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Application</label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" id="app" placeholder="--Select App--">
                        <ng-option></ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 className">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Class</label>
                </div>
                <div class="col-5 ml-3">
                    <ng-select class="dropdown" id="class" placeholder="--Select Class--">
                        <ng-option></ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 entity">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Entity ID</label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" id="entity" placeholder="--Select Entity ID--">
                        <ng-option></ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 field">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Field</label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" id="field" placeholder="--Select Field--">
                        <ng-option></ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">Days</label>
                </div>
                <div class="col-3">
                    <input type="number" class="dropdown custom-input" id="days" placeholder="--Days--" min="1">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color">User</label>
                </div>
                <div class="col-3">
                    <ng-select class="dropdown" id="user" placeholder="--Select User--">
                        <ng-option></ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</div>