<div class="container mt-2">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@App">Application</span> <span class="red-astrik">&#42;</span></label>
                </div>
                <div class="col-3">
                    <ng-select [(ngModel)]="selectedData.apps" i18n-placeholder="@@placedholderApp" (change)="getDropdownsValue('pri');" class="dropdown"  placeholder="--Select App--">
                        <ng-option [value]="app" *ngFor="let app of appsList">{{app}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 className" *ngIf="selectedData.apps != undefined">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@Priortity">Priority</span> <span class="red-astrik">&#42;</span></label>
                </div>
                <div class="col-5 ml-3">
                    <ng-select [(ngModel)]="selectedData.pri" i18n-placeholder="@@placeholderPriority" class="dropdown" id="priority" placeholder="--Select Priority">
                        <ng-option [value]="priority" *ngFor="let priority of priList">{{priority}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-8">
            <div class="d-flex flex-column flex-md-row">
                <div class="col-3">
                    <label class="fs-20 fw-600 ml-3 text-color"><span i18n="@@days">Days</span> <span class="red-astrik">&#42;</span></label>
                </div>
                <div class="col-3">
                    <input type="number" i18n-placeholder="@@placedholderDays" [(ngModel)]="selectedData.days" oninput="this.value = !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : null" class="dropdown custom-input" id="days" placeholder="--Days--" min="1" style="width: 6rem;">
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="button" class="btn-link fs-20 fw-600 pointer" (click)="resetHandler()" i18n="@@Reset">Reset</button>
        <button type="button" class="btn-link  fs-20 fw-600 mx-4 pointer" (click)="getHighPriLogs()" i18n="@@Submit">Submit</button>
    </div>

    <app-pagination #pagination [data]="highPriLogs" [collectionSize]="dataCount" (timeStamp)="getHighPriLogs(true,$event)">
        <app-log-entry [data]="highPriLogs" [currentPage]="pagination.currentPage" [itemPerPage]="pagination.itemPerPage"></app-log-entry>
    </app-pagination>
</div>
